/* Button.module.scss */
.Button {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #434343; 
    font-size: 16px;
    background-color: #FFFFFF; /* Fixed background color */
    border: none;
    border-radius: 25px; /* Fixed border radius for partial bordered */
    transition: opacity 0.2s ease-in-out;

    &:hover {
        opacity: 0.8;
    }

    &.disabled {
        
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
    background-color: #FFFFFF;
}

.border {
    color: #045FDD;
    border: none;
    border: 3px solid #A7A7A7;
    color: #A7A7A7;
    background-color: white;
}


  


@keyframes clickAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(1);
    }
  }

  .Button.pressed {
    animation: clickAnimation 0.2s forwards;
  }